body {
    background-color:#121212;
    color:white;
}
.layout {
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #091c2f;
  }
#numberBox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    height: 75px;
    width: 75px;
    background-color: #0a2334;
    border: 1px solid #2c4157;
    border-radius: 5px;
    color: #7cacd4;
    margin: 5px; /* Add some margin for spacing */
    line-height:75px;

}
#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(1,249,185,255);
    font-size:32px;
    color:#01f9b9;
    letter-spacing: 0px;
    margin:0px;
}
#glowText_green{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(1,249,185,255);
    font-size:16px;
    color:#01f9b9;
    letter-spacing: 0px;
    margin:0px;
    margin-bottom:10px;
}
#glowText_white{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-size:13px;
    color:#d8d8d8;
    letter-spacing: 0px;
    margin:0px;
    margin-bottom:10px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgba(1,249,185,255);
    font-size:13px;
    color:#01f9b9;
    letter-spacing: 0px;
}
#numberContainer{
    width: 550px;
    background-color: #061221;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Add this line to center it horizontally */
    padding: 20px; /* Add padding to match the h4 padding */
    margin-top:100px;
}
#numberContainerCorrect{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    height: 75px;
    width: 75px;
    background: rgb(0,255,234);
background: radial-gradient(circle, rgba(0,255,234,0.4906337535014006) 0%, rgba(0,255,234,0.14889705882352944) 100%);
    border: 1px solid #00ffea;
    border-radius: 5px;
    color: #01f9b9;
    margin: 5px;
    
    line-height:75px;
}
#numberContainerFail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    height: 75px;
    width: 75px;
    background: rgb(255,76,76);
    background: radial-gradient(circle, rgba(255,76,76,1) 0%, rgba(255,75,75,0.43461134453781514) 100%);
border: 1px solid grey;
    border-radius: 5px;
    color: white;
    margin: 5px;
    
    line-height:75px;
}
